{% extends 'base.html' %}

{% block content %}
    <main class="search-container">
        <div class="input-row" style="width: 600px;">
            <input type="text" placeholder="Travel Direction">
        </div>
        <div class="flex-row">
            <div class="flex-item">
                <label style="font-size: 10px; color: gray; display: block;">Check in</label>
                <input type="date">
            </div>
            <div class="flex-item">
                <label style="font-size: 10px; color: gray; display: block;">Check out</label>
                <input type="date">
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-item"><input type="number" placeholder="Adults"></div>
            <div class="flex-item"><input type="number" placeholder="Children"></div>
            <div class="flex-item"><input type="number" placeholder="Rooms"></div>
        </div>
    </main>
{% endblock %}